/* Import Google Font for icons */
@import 'material-symbols/outlined.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,500&display=swap');

:root {
  /* Font */
  --fnt-family: 'Roboto', sans-serif;
  --fnt-w-ligth: 300;
  --fnt-w-regular: 400;
  --fnt-w-bold: 500;

  /* color pallete */
  --almost-white: #fafafa;
  --light-gray: #e8e8e8;
  --enlight-gray: #d0d0d0;
  --smooth-gray: #c9c9c9;
  --middle-gray: #b3b3b3;
  --soft-gray: #7f7f7f;
  --primary-color: #3f3f3f;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

.container {
  width: 95%;
  margin: 0 auto;
}

body,
ul {
  background-color: var(--light-gray);
}

body {
  font-family: var(--fnt-family);
  color: var(--primary-color);
}

body,
h1 {
  font-weight: var(--fnt-w-regular);
  font-size: 1em;
}

h1 {
  font-weight: var(--fnt-w-bold);
}

ul {
  width: 100%;
  max-width: 30rem;
  margin-inline: auto;
  margin-block-start: 2em;
  box-shadow: 0 3px 5px var(--smooth-gray);
  display: flex;
  flex-flow: column;
  row-gap: 2px;
}

li {
  background-color: var(--almost-white);
  padding: 0.75em 0.7em;
  display: flex;
  align-items: center;
}

.title,
.add {
  justify-content: space-between;
}

.title {
  cursor: default;
}

.item {
  cursor: text;
  padding-inline: 0.25em;
  outline: none;
}

.completed {
  text-decoration: line-through;
}

.icon,
.unchecked,
.add .input {
  color: var(--middle-gray);
}

.icon {
  font-size: 1.3em;
  padding: 0.3em;
  border-radius: 50%;
  cursor: pointer;
}

.icon:hover {
  color: var(--soft-gray);
  background-color: var(--light-gray);
}

.icon:active {
  background-color: var(--middle-gray);
  color: var(--light-gray);
}

.task .icon {
  cursor: pointer;
  margin-inline-start: auto;
}

.unchecked,
.checked {
  cursor: pointer;
}

.unchecked:hover {
  color: var(--soft-gray);
}

.add .input {
  font-style: italic;
  outline: none;
}

.input::before {
  content: 'Add to your list...';
}

.input:focus-visible {
  color: var(--primary-color);
}

.input:focus-visible::before {
  content: '';
}

.btn-sweep {
  cursor: pointer;
  background-color: var(--light-gray);
  justify-content: center;
  column-gap: 0.2em;
}

.btn-sweep .icon {
  cursor: inherit;
  color: var(--primary-color);
  background-color: transparent;
}

.btn-sweep:hover {
  background-color: var(--smooth-gray);
  color: var(--soft-gray);
}

.btn-sweep:hover .icon {
  background-color: transparent;
  color: var(--soft-gray);
}

.btn-delete {
  background-color: var(--light-gray);
  color: var(--primary-color);
}

.btn-delete:hover {
  background-color: var(--smooth-gray);
  color: var(--primary-color);
}

.editing {
  background-color: var(--enlight-gray);
}

/* Style for Google icons */
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
